.form-container {
    max-width: 450px;
    margin: 20px auto;
    background: transparent;
    box-shadow: inset;
    padding-top:10%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-title {
    text-align: center;
    font-size: 24px;
    color: #e9eb5c;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-top: 20px;

}

.doctor-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-input {
    width: 95%;
    padding: 10px;
    border: 1px solid #bdcedf;
    color: #48cbd7;
    border-radius: 5px;
    font-size: 16px;
    transition: border 0.3s ease-in-out;
    background-color: transparent;
}

.form-input:focus {
    border-color: #458b74;
    outline: none;
}

.working-hours {
    display: flex;
    gap: 10px;
}

.half-width {
    width: 48%;
}

.submit-btn {
    width: 100%;
    background: #007bff;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.submit-btn:hover {
    background: #0056b3;
}
